@font-face {
  font-weight: 300;
  font-family: Kreon;
  font-style: normal;
  src: url("./kreon-v37-latin-300.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: Kreon;
  font-style: normal;
  src: url("./kreon-v37-latin-regular.woff2") format("woff2");
}
