$font-size-main: 18px;
$font-size-h2: 96px;
$font-color: #000;

html {
  color: $font-color;
  font-weight: 400;
  font-size: $font-size-main;
  font-family: Kreon, serif;
  font-style: normal;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

#root {
  height: 100%;
}

h1 {
  display: none;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-weight: 300;
}
